<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body>
        {{>header}}

        <img src="images/me.jpg"/>
        <p>This site was created by {{author}}. It uses request data from map.com and weatherstack.com</p>
        {{>footer}}
        <scrip src="js/app.js"></scrip>
    </body>
</html>