<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body>
        {{>header}}
        <p>{{author}}</p>
        {{>footer}}
        <scrip src="js/app.js"></scrip>
    </body>
</html>